.fade-in {
    animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.option-btn {
    transition: all 0.2s;
}

.option-btn:hover {
    transform: translateX(5px);
}

.correct {
    background-color: #09ff00 !important;
    color: white !important;
}

.incorrect {
    background-color: #ff0000 !important;
    color: white !important;
}